MYSQL_ROOT_PASSWORD=change_me
MYSQL_DATABASE=microservice

DB_URL=jdbc:mysql://mysql:3306/microservice
DB_USERNAME=root
DB_PASSWORD=change_me

REDIS_HOST=redis
REDIS_PORT=6379

KAFKA_BOOTSTRAP_SERVERS=kafka:9092

FRONTEND_ORIGIN=http://localhost:3000

JWT_SECRET=change_me

JWT_ACCESS_TOKEN_MINUTES=15
REFRESH_TOKEN_DAYS=14

AUTH_COOKIE_SECURE=false